h1{
    text-align: center;
    color: rgb(18, 224, 18);
}

h2{
    text-align: center;
}
table {
    background-color: grey;
    border: 2px solid;
    padding: 25px;
    border-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    

}

td{
    background-color: white;
    padding: 15px;
}

a{ 
    text-decoration: none;
}